@import "variables";

.navbar-background {
  color: #151a2d;
}

.navbar-default {
  border-color: $navigation-light-border !important;
  background: none !important;

  @media (min-width: $md) {
    padding: 0 20px;
    margin: 0 -20px;
  }
}

.navbar-logo {
  position: relative;
  top: 3px;

  > img {
    padding: 16px;
  }
}

.navbar-toggle {
  position: relative;
  top: 10px;
  border: none !important;
  background: none !important;

  > .icon-bar {
    background-color: white !important;
  }
}

.navbar-default .navbar-nav > li > .nav-link {
  color: white !important;
  padding: 25px;
  text-transform: uppercase;
  opacity: .8;
  transition: opacity .2s;

  &:hover, &:active, &.active {
    opacity: 1;
  }
}

.social-sidebar {

  > .rotated {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: center top 0;
    top: 50%;
    left: -90px;
    white-space: nowrap;
    padding: 0 20px;
    background: $body-bg;
    color: #57607c;
    text-transform: uppercase;
    font-size: 16px;

    a {
      color: inherit;

    }

    > span, a {
      padding: 0 12px;
    }

    > .fa {
      transform: rotate(90deg);
    }
  }
}
